@page "/"

<PageTitle>Pizza Sabrozza</PageTitle>

<div class="text-center">
    <h1>
        ¡Bienvenido a Pizza Sabrozza! <br />
        <small class="text-body-secondary">Tu pizzeria favorita</small>
    </h1>
</div>

<div class="text-center">
    <img src="images/pizza_horno.jpg" class="img-fluid center rounded" alt="Pizza entrando al horno de barro">
</div>

<br />
<div class="text-center">
    <p>¡Aqui encontrarás las mejores pizzas con los mejores ingredientes!</p>
    <p>Dirígete a nuestra pestaña <a href="/armala">Armala</a> en la cual podrás crear ordenar tu pizza con los ingredientes que desees</p>
</div>